@{
  Layout = "_Layout";
}
<br><br>
<div style="background:transparent !important" class="jumbotron">
<h1>Welcome to <span style="font-weight:900">FaciliLog_3.1</span></h1><hr><br>
      <p style="font-size:30px">Quick start guide (follow this order) </p><br>
<div class="row">
    <div class="col-sm">
<div class="container">
  <p class="intro">Create <a href="/Locations/Create" class="btn btn-outline-info">Location</a></p>
  <p class="intro">Create <a href="/Engineers/Create" class="btn btn-outline-success">Engineer</a></p>
  <p class="intro">Create <a href="/Machines/Create" class="btn btn-outline-primary">Machine</a></p>
  <p class="intro">Create <a href="/Incidents/Create" class="btn btn-outline-danger">Incident</a></p>
</div>
    </div>
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
      
    </div>
  </div>