@{
  Layout = "_Layout";
}

@model FactoryManager.Models.Location;
<br><br>
<h4>add a new location</h4><hr> 
<div class="row">
  <div class="col-sm">

    @using (Html.BeginForm())
    {
        @Html.Label("Name")
        <br>
        @Html.TextBoxFor(model => model.LocationName, new {@required="required", @class="form-control"})
        <br><br><br>
        <input type="submit" value="Add New Location" class="btn btn-outline-dark btn-block btn-sm" />
    }
    <br>
    <p>@Html.ActionLink("Cancel", "Index", null, null, new {@class="btn btn-outline-warning btn-block btn-sm"})</p>
  </div>
  <div class="col-sm">

    </div>
    <div class="col-sm">
    </div>
</div>